#landing-page h2 {
    font-weight: 700;
    font-size: 2.5vw;
}

#landing-page h3 {
    font-weight: 700;
    font-size: 2.5vw;
}

#landing-page h4 {
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2vw;
}

#landing-page p {
    font-size: 1.2vw;
}

#landing-page .navbar {
    margin-left: 10vw;
    margin-right: 5vw;
}

#landing-page .nav-item {
    font-size: 1.1vw;
    font-weight: 500;
    margin-right: 1vw;
}

#landing-page .judul {
    margin-left: 9vw;
}

#landing-page .section1 {
    margin-top: 3vw;
}

#landing-page .btn {
    background-color: #5CB85F;
    width: 13vw;
    font-size: 1.2vw;
    margin-left: 9vw;
}

#landing-page .btn-register {
    margin-left: 0;
    width: 7vw;
}

#landing-page .img-service {
    margin-left: 9vw;
}

#landing-page .img-centang {
    width: 2vw;
    margin-right: 1vw;
}

#landing-page .section3 {
    margin-left: 10vw;
    margin-top: 15vh;
}

#landing-page .judul-section3 {
    margin-bottom: 1vw;
}

#landing-page .section4 {
    margin-left: 9vw;
    margin-bottom: 5vw;
}

#landing-page .card {
    margin-top: 2vw;
    width: 19vw;
}

#landing-page .img-card {
    width: 2.5vw;
}

#landing-page .card-title {
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
    font-size: 1.2vw;
    font-weight: 700;
}

#landing-page .card-text {
    font-size: 1vw;
}

#landing-page .img-profile {
    width: 10vw;
    margin-left: 2vw;
}

#landing-page .img-rating {
    width: 7vw;
    margin-bottom: 1vw;
}

#landing-page .carousel-item {
    margin-top: 5vw;
}

#landing-page .carousel-container {
    width: 70vw;
    height: 20vw;
    margin: 0 auto;
    position: relative;
    background-color: #F1F3FF;
    border-radius: 1vw;
}

#landing-page .carousel-nav-buttons {
    text-align: center;
    margin-top: 2vw;
}

#landing-page .carousel-nav-buttons button {
    border: none;
    background-color: transparent;
    margin-bottom: 8vw;
}

#landing-page .section6 {
    background-color: #0D28A6;
    width: 85%;
    border-radius: 1vw;
    margin-bottom: 7vw;
}

#landing-page .judul-section6 {
    margin-top: 5vw;
    margin-bottom: 3vw;
}

#landing-page .btn-section6 {
    background-color: #5CB85F;
    width: 12vw;
    font-size: 1.2vw;
    margin-left: 0;
    margin-top: 2vw;
    margin-bottom: 5vw;
}

#landing-page .section7 {
    margin-left: 9vw;
}

#landing-page .accordion-button {
    border-radius: 0;
    border: 1px solid #dee2e6;
}

#landing-page .accordion-item {
    border: 1px solid #dee2e6;
    border-radius: 0;
    margin-bottom: 1.5vw;
}

#landing-page .accordion-header {
    border-bottom: 1px solid #dee2e6;
}

#landing-page .accordion-body {
    border-top: 1px solid #dee2e6;
}

#landing-page .section8 {
    margin-left: 9vw;
}

#landing-page .img-icon {
    width: 15vw;
}

#landing-page .footer-card {
    border: transparent;
}

#landing-page .link {
    text-decoration: none;
    margin-bottom: 1vw;
}

#landing-page .text-black {
    font-weight: 500;
}

#landing-page .card-wrapper {
    margin-left: 13vw;
    width: 75%;
    position: relative;
    top: -5vw;
    z-index: 1100;
}

#landing-page .form-group {
    font-size: 1vw;
    min-width: 13.5vw;
}

#landing-page .form-control {
    font-size: 1vw;
}

#landing-page .footer {
    top: -5vw;
    z-index: 0;
    position: relative;
    margin-top: 5vw;
}

#landing-page .btn-cari {
    margin-left: 0;
    width: 11vw;
}

#landing-page .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

#landing-page .car-card {
    margin-left: 10vw;
}

#landing-page .img-car {
    width: 100%;
    height: 15vw;
}

#landing-page .btn-pilih {
    margin-left: 0;
    width: 100%;
}

/* Responsif untuk perangkat dengan lebar maksimal 767px */
@media (max-width: 767px) {
    #landing-page h2 {
        font-weight: 700;
        font-size: 10vw;
    }

    #landing-page h3 {
        font-weight: 700;
        font-size: 7vw;
    }

    #landing-page h4 {
        font-weight: 700;
        font-size: 6.3vw;
    }

    #landing-page p {
        font-size: 4vw;
    }

    #landing-page .navbar {
        margin-left: 3vw;
        margin-right: 0;
    }

    #landing-page .nav-item {
        font-size: 5vw;
    }

    #landing-page .offcanvas-half {
        width: 50% !important;
    }

    #landing-page .judul {
        margin-left: 0;
    }

    #landing-page .section1 {
        margin-top: 5vw;
    }

    #landing-page .btn {
        background-color: #5CB85F;
        width: 40vw;
        font-size: 4vw;
        margin-left: 0;
        margin-bottom: 8vw;
    }

    #landing-page .btn-register {
        width: 25vw;
        margin-left: 0;
    }

    #landing-page .img {
        width: 100%;
    }

    #landing-page .img-service {
        margin-left: 10vw;
        width: 70%;
        margin-bottom: 10vw;
    }

    #landing-page .img-centang {
        width: 7vw;
        margin-right: 4vw;
    }

    #landing-page .section3 {
        margin-left: 0;
        align-items: center;
        margin-top: 10vw;
    }

    #landing-page .section4 {
        margin-left: 0;
        margin-bottom: 12vw;
    }

    #landing-page .card {
        margin-left: 3vw;
        margin-bottom: 4vw;
        width: 95%;
    }

    #landing-page .img-card {
        width: 8vw;
    }

    #landing-page .card-title {
        margin-top: 4vw;
        font-size: 4vw;
        font-weight: 700;
    }

    #landing-page .card-text {
        font-size: 4vw;
    }

    #landing-page .img-profile {
        width: 25vw;
        margin-left: 2vw;
    }

    #landing-page .img-rating {
        width: 25vw;
        margin-bottom: 5vw;
        margin-top: 5vw;
        margin-left: 27vw;
    }

    #landing-page .carousel-item {
        margin-top: 5vw;
    }

    #landing-page .carousel-container {
        width: 90%;
        height: 100vw;
        margin: 0 auto;
        position: relative;
        background-color: #F1F3FF;
    }

    #landing-page .carousel-nav-buttons {
        text-align: center;
        margin-top: 2vw;
    }

    #landing-page .carousel-nav-buttons button {
        border: none;
        background-color: transparent;
    }

    #landing-page .section6 {
        background-color: #0D28A6;
        width: 90%;
        border-radius: 5vw;
    }

    #landing-page .judul-section6 {
        margin-top: 15vw;
        margin-bottom: 10vw;
    }

    #landing-page .btn-section6 {
        background-color: #5CB85F;
        margin-left: 0;
        margin-top: 4vw;
        margin-bottom: 10vw;
    }

    #landing-page .section7 {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #landing-page .judul-section7 {
        margin-left: 7vw;
    }

    #landing-page .accordion-button {
        border-radius: 0;
        border: 1px solid #dee2e6;
    }

    #landing-page .accordion-item {
        border: 1px solid #dee2e6;
        border-radius: 0;
        margin-bottom: 4vw;
        margin-left: 5vw;
    }

    #landing-page .accordion-header {
        border-bottom: 1px solid #dee2e6;
    }

    #landing-page .accordion-body {
        border-top: 1px solid #dee2e6;
    }

    #landing-page .section8 {
        margin-left: 0;
        margin-top: 10vw;
    }

    #landing-page .img-icon {
        width: 50vw;
    }

    #landing-page .text-black {
        margin-bottom: 5vw;
    }

    #landing-page .footer-card {
        margin-bottom: 0vw;
    }
}
