.app-container {
    display: flex;
    transition: transform 0.3s ease, margin-left 0.3s ease;
    width: 100%;
  }
  
  /* Gaya untuk main-content */
  .main-content {
    flex-grow: 1;
    transition: transform 0.3s ease;
    width: 100%;
  }
  
  /* Ketika sidebar terbuka */
  .app-container.sidebar-open .main-content {
    margin-left: 250px; /* Berikan jarak agar terlihat sebelah sidebar */
    transition: margin-left 0.3s ease;
  }